html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration:none;
    color: black;
}

/* menu */

.container{
    width: 90%;
    margin: 50px auto 0;
}

.heading__menu{
    display:flex;
    flex-direction:row;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;

}

.double__line{
    height: 1px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
}

.type__food{
    width: 350px;
    font-size: 2.1rem;
}

/* Com dia */
.list__food{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.list__food-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items:flex-start;
    justify-content:center;
}

.food__img{
    width: 90px;
}

.title__food{
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    width:100%;
    font-weight: 700;
    font-size: 1.4rem;
    margin-left: 10px;
    align-items: flex-end;
    justify-content: space-between;
}
.type__food-name{
    width: auto;
    margin-right: 5px;
}

.type__food-price{
    width: auto;
    margin-left: 5px;
}

.dot__line{
    display: flex;
    flex-grow: 9;
    border: none;
    border-bottom: 2px dotted black;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: auto;
    margin-bottom: 3px;
}

.desc_food{
    margin: 10px 10px 0px;
    color: rgb(129, 129, 129);
    font-weight: 500;
}

/* Bánh mì */
.wrap__items{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.w-49{
    width: 49%;
}
/* Bún phở */

.w-32{
    width: 32%
}


/* foodDetails */

.food__details{
    display: flex;
}

.food__details img{
    width: 70%;
}

.content__details{
    width: 30%;
    padding: 0 40px;
}

.Details__food-name{
    font-size: 1.7rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.details__desc{
    margin-bottom: 30px;
    font: 1em sans-serif;
    color:rgb(129, 129, 129);
}

.dotted__line{
    width: 100%;
    border: none;
    border-top: 1px dotted rgb(129, 129, 129);
    color: #fff;
    background-color: #fff;
    height: 1px;
}


.ingredient{
    font-size: 1.3rem;
    color:rgb(129, 129, 129);
    margin-top: 10px;
}

.ingredient__desc{
    display: flex;
    flex-direction: row;
    align-items:center;
}

/* Admin__container */

.Admin__container{
    max-width: 780px;
    margin: 5rem auto 0;
}

.title__bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__bar-item,
.title__bar-item h1,
.title__bar-item button{
    margin: 10px 0;
}

.btn{
    border: 1px solid #6a727a;
    padding: 9px 15px;
    border-radius: 4px;
    background: #FFF;
    color: black;
    cursor: pointer;
}

.btn:hover {
    background: #f1f1f1;
}


.list__header{
    display: grid;
    gap: 10px;
    grid-template-columns: 50px 1fr 120px 120px 120px;
    color: #6a727a;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 30px 1.2rem;
    margin-top: 20px;
    background-color: #fff;
}
.list__items{
    padding: 10px 30px !important;
    gap: 10px;
    display: grid;
    grid-template-columns: 50px 1fr 120px 120px 120px;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    color: #6a727a;
    background: #f1f1f1;
}

.btn-icon {
    border: 1px solid #e0e0e0;
    background: none;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    color: #6a727a;
    cursor: pointer;
    font-size: 1rem;
}

.success:hover {
    background:rgb(47, 214, 111);
    color: white;
}

.danger:hover {
    background: crimson;
    color: white;
}


.card__wrapper{
    display: grid;
    grid-template-columns: 1fr minmax(auto, 290px);
    grid-gap: 20px;
    color: #6a727a;
    margin-top: 20px;
}

.card{
    padding: 0 20px;
    background: #FFFFFF;
}


.card p {
    margin: 10px 0;
}

.card input {
    padding: 9px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    width: 100%;
}

.card textarea {
    padding: 9px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    width: 100%;
    font-size: 1.1rem;
    font-family: 'Open sans','Hervetica News', sans-serif;
}

.media {
    margin-top: 20px;
}

.images__list{
    list-style:none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px ;
}

.image__item {
    position: relative;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.image__item-img{
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    width: 117px;
}


.image__item-form {
    border: 2px dashed #6a727a;
    position: relative;
    cursor: pointer;
}

.image__item-form--label{
    padding: 9px 15px;
    border-radius: 4px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper__right{
    width: 300px;
}
.image__item-form--input{
    height: 100px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.wrapper__right .hr{
    margin: 30px 0;
}

.wrapper__right .br{
    margin-top: 40px;
}
